.navbar {
  background-color: white;
  height: 55px;
  border-bottom: 2px solid #d6d6d6;
  border-top: 1px solid #d6d6d6;
  font-size: 14px;
  color: #555;
  display: flex;
  justify-content: space-between;

}

.logo {
  margin-top: 10px;
  margin-left: 20px;
}
